/*放头部和底部通用样式*/
ul,
li,
dl,
dt,
dd {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
header {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px 70px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 9999;
}
header .logo {
  float: left;
}
header .logo h1 {
  margin: 0;
}
header .info {
  float: right;
}
header .info ul li {
  float: left;
  vertical-align: middle;
  line-height: 40px;
  font-size: 12px;
  color: #fff;
  padding-left: 10px;
  margin-top: 5px;
}
header .info ul li select {
  outline: none;
  width: 80px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 1px solid #fff;
}
header .info ul li img {
  width: 30px;
  vertical-align: middle;
}
header .info ul li a {
  text-align: center;
  color: #fff;
}
header .info ul li:first-child {
  padding-left: 14px;
  background: url(../imgs/phone-icon.png) no-repeat 0px 15px;
}
header .info ul li:last-child a {
  display: inline-block;
  width: 80px;
  background: #db1900;
}
header .nav {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 70px;
}
header .nav > ul > li {
  float: left;
  padding-right: 80px;
}
header .nav > ul > li span {
  cursor: pointer;
  display: block;
  height: 60px;
  line-height: 45px;
  color: #fff;
  text-align: right;
  font-size: 20px;
}
header .nav > ul > li ul {
  position: absolute;
  top: 60px;
  padding: 0 40px 0 10px;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
header .nav > ul > li ul li a {
  display: block;
  line-height: 30px;
  color: #fff;
}
header .nav > ul > li:last-child {
  padding: 0 0 0 80px;
}
header .nav > ul > li:last-child a {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  width: 95px;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #db1900;
}
header .nav > ul > li:nth-last-child(2) {
  padding-right: 0;
}
header .nav > span {
  width: 82px;
  height: 2px;
  background: #e30000;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0px;
}
.foot {
  background: #272831;
}
.foot .f-top {
  height: 105px;
  line-height: 105px;
  color: #fff;
  border-bottom: 1px solid #3d3d47;
}
.foot .f-top h3 {
  margin: 0;
  float: left;
  font-size: 24px;
  font-weight: normal;
  padding-right: 80px;
}
.foot .f-top p {
  margin: 0;
  float: left;
}
.foot .f-top p span:first-child {
  padding-right: 15px;
  border-right: 1px solid #7e808a;
}
.foot .f-top p span:last-child {
  padding-left: 10px;
}
.foot .f-top > span {
  float: right;
}
.foot .f-top > span img {
  padding-left: 20px;
  vertical-align: middle;
}
.foot .f-center {
  padding: 30px 0;
  border-bottom: 1px solid #3d3d47;
}
.foot .f-center dl {
  float: left;
  width: 90px;
  margin-right: 60px;
}
.foot .f-center dl dt {
  color: #fff;
  font-size: 18px;
  padding-bottom: 20px;
}
.foot .f-center dl dd {
  padding: 6px 0;
}
.foot .f-center dl dd a {
  color: #7e808a;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22px;
}
.foot .f-center dl dd a:hover {
  color: #fff;
}
.foot .f-bottom {
  line-height: 60px;
}
.foot .f-bottom .f-b-left {
  float: left;
}
.foot .f-bottom .f-b-left ul li {
  float: left;
  color: #7e808a;
  padding-right: 10px;
}
.foot .f-bottom .f-b-left ul li a {
  color: #7e808a;
  font-size: 14px;
}
.foot .f-bottom .f-b-left ul li a img {
  width: 18px;
  vertical-align: middle;
}
.foot .f-bottom .f-b-right {
  float: right;
}
.foot .f-bottom .f-b-right p {
  margin: 0;
  font-size: 14px;
  color: #7e808a;
}
